:host {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 1000px;
  max-width: 100%;
  max-height: calc(100% - 120px);
  overflow: auto;
}

button {
  margin-bottom: 30px;
}

table {
  width: 800px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}