<div class="search-container">
  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="search()">
    <h1>Find climbing gym</h1>
    <mat-form-field appearance="outline">
      <mat-label>Choose country</mat-label>
      <mat-select formControlName="country">
        <mat-option  *ngFor="let country of countries" [value]="country.name_en">{{country.name_en}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose city</mat-label>
      <mat-select [disabled]="!searchForm.controls['country'].value" formControlName="city">
        <mat-option  *ngFor="let city of cities" [value]="city.name_en">{{city.name_en}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Gym name</mat-label>
      <input type="string" matInput formControlName="q" placeholder="Enter the name of the gym">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button type="submit" color="primary">Search</button>
      <button mat-button (click)="openAllGymsList()"><strong>Show All Gyms</strong></button>
    </div>
  </form>
</div>