<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field> -->
<table mat-table *ngIf="tournamentsList" [dataSource]="tournamentsList" class="mat-elevation-z8 result-table">
  <ng-container matColumnDef="gym">
    <th mat-header-cell *matHeaderCellDef>Gym</th>
    <td mat-cell *matCellDef="let element">{{element.gym.title}}</td>
  </ng-container>
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef>Coutry</th>
    <td mat-cell *matCellDef="let element">{{element.gym.country}}</td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef>City</th>
    <td mat-cell *matCellDef="let element">{{element.gym.city}}</td>
  </ng-container>
  <ng-container matColumnDef="available_spots">
    <th mat-header-cell *matHeaderCellDef>Available Spots</th>
    <td mat-cell *matCellDef="let element">{{element.available_spots}}</td>
  </ng-container>
  <ng-container matColumnDef="more" stickyEnd>
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['/tournament', element.id]">Register</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator> -->

