:host {
  height: 100%;
  display: flex;
  justify-content: center;
}

.item {
  background-color: white;
  opacity: 0.96;
  width: 1100px;
  display: flex;
  padding: 50px;
  flex-direction: column;
}

.info {
  display: flex;
  margin-bottom: 20px;
}

.logo {
  max-width: 400px;
  img {
    width: 400px;
  }
}

.description {
  margin-left: 50px;
}

p {
  display: flex;
  align-items: center;
}

h2+button {
  margin-bottom: 30px;
}

.tournament {
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 450px;
}

p {
  margin-bottom: 10px;
}

.comments {
  h2 {
    margin-bottom: 30px;
  }

  .comment {
    margin: 10px 0;
    padding: 10px;
    box-shadow: 1px 1px 3px 0px grey;
  }

  .name {
    font-size: 14px;
    line-height: 6px;
    margin: 15px 0 0 0;
    color: gray;
  }
}