<mat-toolbar color="primary" class="nav-container">
  <div>
    <button mat-button routerLink="/search"><strong>{{title}}</strong></button>
    <button mat-button routerLink="/gym-list" routerLinkActive="is-active">Climbing Gyms</button>
    <button mat-button routerLink="/tournaments" routerLinkActive="is-active">Tournaments & Festivals</button>
  </div>
  <div>
    <button mat-button routerLink="/gym-list" routerLinkActive="is-active" *ngIf="isAuthenticated">
      MyGyms
    </button>
    <button mat-button disabled="true" routerLinkActive="is-active" *ngIf="isAuthenticated">
      {{user.email}}
    </button>
    <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
      Login
    </button>
    <button mat-button routerLink="/signup" *ngIf="!isAuthenticated">
      Sign up
    </button>
    <button mat-button *ngIf="isAuthenticated" (click)="logout()">
      Logout
    </button>
  </div>
</mat-toolbar>
<div class="background">
  <router-outlet></router-outlet>
</div>

