.nav-container {
  display: flex;
  justify-content: space-between;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('../assets1/line.jpeg');
  background-size: auto;
}

.is-active {
  text-shadow: #FC0 1px 0 10px;
}