.nav-container {
  display: flex;
  justify-content: space-between;
}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/line.jpeg');
  background-size: auto;
}