:host {
  display: block;
}

.landing-img:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url('../../assets/landing3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

::ng-deep .mat-input-underline {
  background-color: white;    /* replace this color with your accent color hex code */
}